.section.sec-header
    .container.con-header
        .header-content
            .content
                .content-span-button(data-aos="fade-up"
                    data-aos-duration="800"
                    data-aos-once="true")
                    span In a nutshell
                h1.content-title(data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-once="true") 
                    span.content-title-inner Aimaget is 
                        img(src="assets/icon-spark.svg" alt="icon").span-img-spark
                    span.content-title-inner.yellow Revolutionizing
                    span.content-title-inner The stock image
                    span.content-title-inner Industry
                        img(src="assets/img-people.png" alt="images").span-img-people
                    span.content-title-inner With Generative AI
                .search-container(data-aos="fade-up"
                    data-aos-duration="1500"
                    data-aos-once="true") 
                    input.search-input(type="text" placeholder="Search...")
                    button.search-button
                        img(src="assets/icon-search.svg" alt="icon-search").icon-search
                p.content-description(data-aos="fade-up"
                    data-aos-duration="2000"
                    data-aos-once="true")  Our platform offers a continuously growing collection of AI-created images designed to fulfill the varied and changing requirements of artists, advertisers, and companies worldwide. If you need original visuals for a project or ideas for your next marketing strategy, our AI-powered collection provides limitless options at your disposal.
            .content
                img(src="assets/image-header.webp" alt="header-img").content-img(data-aos="zoom-in" 
                data-aos-duration="1000"
                data-aos-once="true")