.section.sec-pricing
    .container.con-pricing
        .pricing-content
            .pricing-content-title
                span(data-aos="fade-up"
            data-aos-duration="1000" 
            data-aos-once="true")  PRICING
                h1(data-aos="fade-up"
            data-aos-duration="1500" 
            data-aos-once="true")  Plans for Stock Images
                p(data-aos="fade-up"
            data-aos-duration="2000" 
            data-aos-once="true")  Get the ideal plan for your projects
            .pricing-content-tabs
                .tab-container
                    .tabs
                        div.tab.active(data-tab="tab1") Monthly
                        div.tab(data-tab="tab2") Yearly
                    
                    .content-container
                        .content#tab1.active
                            #cards-tab-0
                        .content#tab2
                            #cards-tab-1

